/* Rizzle 1.0 Core CSS */

.layout {float:left;width:100%;}

.layout-clear {clear:both;}

.layout-centered {margin-left:auto;margin-right:auto;}
.layout-centered {float:none;width:auto;}
.layout-centered:after,
.layout-centered:before {content:"";display:table;}
.layout-centered:after {clear:both;}

.layout-gutter {float:none;width:auto;}
.layout-gutter:after,
.layout-gutter:before {content:"";display:table;}
.layout-gutter:after {clear:both;}

.column:after,
.column:before {content:"";display:table;}
.column:after {clear:both;}