/* ZXCSS Layout 0.7: Core CSS */

.lay {float:left;width:100%;}
.clear {clear:left;}

.col:after,
.col:before,
.lay-centered:after,
.lay-centered:before {content:"";display:table;}
.col:after,
.lay-centered:after {clear:both;}

.lay-centered {margin-right:auto;margin-left:auto;float:none;}