/* ZXCSS Layout 0.7: Responsive prototyping classes */

.lay {float:left;width:100%;}
.nolay {float:none;width:auto;}
.clear {clear:left;}
.noclear {clear:none;}

.nut {margin-left:-10px;}
.gut {margin-left:10px;}

.max700 {max-width:700px;}
.max740 {max-width:740px;}
.max940 {max-width:940px;}
.max980 {max-width:980px;}
.max1180 {max-width:1180px;}
.max1220 {max-width:1220px;}

.w1o1, .w2o2, .w3o3, .w4o4, .w5o5 {width:100%;}
.w1o2, .w2o4 {width:50%;}
.w1o3 {width:33.3333%;}
.w1o4 {width:25%;}
.w1o5 {width:20%;}
.w2o3 {width:66.6666%;}
.w2o5 {width:40%;}
.w3o4 {width:75%;}
.w3o5 {width:60%;}
.w4o5 {width:80%;}

.p1o1, .p1o2, .p1o3, .p1o4, .p1o5 {margin-left:0%;}
.p2o2, .p3o4 {margin-left:50%;}
.p2o3 {margin-left:33.3333%;}
.p2o4 {margin-left:25%;}
.p2o5 {margin-left:20%;}
.p3o3 {margin-left:66.6666%;}
.p3o5 {margin-left:40%;}
.p4o4 {margin-left:75%;}
.p4o5 {margin-left:60%;}
.p5o5 {margin-left:80%;}
.p1o1, .p1o2, .p1o3, .p1o4, .p1o5, .p2o2, .p2o3, .p2o4, .p2o5, .p3o3, .p3o4, .p3o5, .p4o4, .p4o5, .p5o5 {margin-right:-100%;}

@media screen and (min-width:768px) {
.lay-b1 {float:left;width:100%;}
.nolay-b1 {float:none;width:auto;}
.clear-b1 {clear:left;}
.noclear-b1 {clear:none;}

.nut-b1 {margin-left:-20px;}
.gut-b1 {margin-left:20px;}

.max700-b1 {max-width:700px;}
.max740-b1 {max-width:740px;}
.max940-b1 {max-width:940px;}
.max980-b1 {max-width:980px;}
.max1180-b1 {max-width:1180px;}
.max1220-b1 {max-width:1220px;}

.w1o1-b1, .w2o2-b1, .w3o3-b1, .w4o4-b1, .w5o5-b1, .w6o6-b1, .w7o7-b1, .w8o8-b1, .w9o9-b1, .w10o10-b1, .w11o11-b1, .w12o12-b1 {width:100%;}
.w1o2-b1, .w2o4-b1, .w3o6-b1, .w4o8-b1, .w5o10-b1, .w6o12-b1 {width:50%;}
.w1o3-b1, .w2o6-b1, .w3o9-b1, .w4o12-b1 {width:33.3333%;}
.w1o4-b1, .w2o8-b1, .w3o12-b1 {width:25%;}
.w1o5-b1, .w2o10-b1 {width:20%;}
.w1o6-b1, .w2o12-b1 {width:16.6666%;}
.w1o7-b1 {width:14.2857%;}
.w1o8-b1 {width:12.5%;}
.w1o9-b1 {width:11.1111%;}
.w1o10-b1 {width:10%;}
.w1o11-b1 {width:9.0909%;}
.w1o12-b1 {width:8.3333%;}
.w2o3-b1, .w4o6-b1, .w6o9-b1, .w8o12-b1 {width:66.6666%;}
.w2o5-b1, .w4o10-b1 {width:40%;}
.w2o7-b1 {width:28.5714%;}
.w2o9-b1 {width:22.2222%;}
.w2o11-b1 {width:18.1818%;}
.w3o4-b1, .w6o8-b1, .w9o12-b1 {width:75%;}
.w3o5-b1, .w6o10-b1 {width:60%;}
.w3o7-b1 {width:42.8571%;}
.w3o8-b1 {width:37.5%;}
.w3o10-b1 {width:30%;}
.w3o11-b1 {width:27.2727%;}
.w4o5-b1, .w8o10-b1 {width:80%;}
.w4o7-b1 {width:57.1428%;}
.w4o9-b1 {width:44.4444%;}
.w4o11-b1 {width:36.3636%;}
.w5o6-b1, .w10o12-b1 {width:83.3333%;}
.w5o7-b1 {width:71.4285%;}
.w5o8-b1 {width:62.5%;}
.w5o9-b1 {width:55.5555%;}
.w5o11-b1 {width:45.4545%;}
.w5o12-b1 {width:41.6666%;}
.w6o7-b1 {width:85.7142%;}
.w6o11-b1 {width:54.5454%;}
.w7o8-b1 {width:87.5%;}
.w7o9-b1 {width:77.7777%;}
.w7o10-b1 {width:70%;}
.w7o11-b1 {width:63.6363%;}
.w7o12-b1 {width:58.3333%;}
.w8o9-b1 {width:88.8888%;}
.w8o11-b1 {width:72.7272%;}
.w9o10-b1 {width:90%;}
.w9o11-b1 {width:81.8181%;}
.w10o11-b1 {width:90.909%;}
.w11o12-b1 {width:91.6666%;}

.p1o1-b1, .p1o2-b1, .p1o3-b1, .p1o4-b1, .p1o5-b1, .p1o6-b1, .p1o7-b1, .p1o8-b1, .p1o9-b1, .p1o10-b1, .p1o11-b1, .p1o12-b1 {margin-left:0%;}
.p2o2-b1, .p3o4-b1, .p4o6-b1, .p5o8-b1, .p6o10-b1, .p7o12-b1 {margin-left:50%;}
.p2o3-b1, .p3o6-b1, .p4o9-b1, .p5o12-b1 {margin-left:33.3333%;}
.p2o4-b1, .p3o8-b1, .p4o12-b1 {margin-left:25%;}
.p2o5-b1, .p3o10-b1 {margin-left:20%;}
.p2o6-b1, .p3o12-b1 {margin-left:16.6666%;}
.p2o7-b1 {margin-left:14.2857%;}
.p2o8-b1 {margin-left:12.5%;}
.p2o9-b1 {margin-left:11.1111%;}
.p2o10-b1 {margin-left:10%;}
.p2o11-b1 {margin-left:9.0909%;}
.p2o12-b1 {margin-left:8.3333%;}
.p3o3-b1, .p5o6-b1, .p7o9-b1, .p9o12-b1 {margin-left:66.6666%;}
.p3o5-b1, .p5o10-b1 {margin-left:40%;}
.p3o7-b1 {margin-left:28.5714%;}
.p3o9-b1 {margin-left:22.2222%;}
.p3o11-b1 {margin-left:18.1818%;}
.p4o4-b1, .p7o8-b1, .p10o12-b1 {margin-left:75%;}
.p4o5-b1, .p7o10-b1 {margin-left:60%;}
.p4o7-b1 {margin-left:42.8571%;}
.p4o8-b1 {margin-left:37.5%;}
.p4o10-b1 {margin-left:30%;}
.p4o11-b1 {margin-left:27.2727%;}
.p5o5-b1, .p9o10-b1 {margin-left:80%;}
.p5o7-b1 {margin-left:57.1428%;}
.p5o9-b1 {margin-left:44.4444%;}
.p5o11-b1 {margin-left:36.3636%;}
.p6o6-b1, .p11o12-b1 {margin-left:83.3333%;}
.p6o7-b1 {margin-left:71.4285%;}
.p6o8-b1 {margin-left:62.5%;}
.p6o9-b1 {margin-left:55.5555%;}
.p6o11-b1 {margin-left:45.4545%;}
.p6o12-b1 {margin-left:41.6666%;}
.p7o7-b1 {margin-left:85.7142%;}
.p7o11-b1 {margin-left:54.5454%;}
.p8o8-b1 {margin-left:87.5%;}
.p8o9-b1 {margin-left:77.7777%;}
.p8o10-b1 {margin-left:70%;}
.p8o11-b1 {margin-left:63.6363%;}
.p8o12-b1 {margin-left:58.3333%;}
.p9o9-b1 {margin-left:88.8888%;}
.p9o11-b1 {margin-left:72.7272%;}
.p10o10-b1 {margin-left:90%;}
.p10o11-b1 {margin-left:81.8181%;}
.p11o11-b1 {margin-left:90.909%;}
.p12o12-b1 {margin-left:91.6666%;}
.p1o1-b1, .p1o2-b1, .p1o3-b1, .p1o4-b1, .p1o5-b1, .p1o6-b1, .p1o7-b1, .p1o8-b1, .p1o9-b1, .p1o10-b1, .p1o11-b1, .p1o12-b1, .p2o2-b1, .p2o3-b1, .p2o4-b1, .p2o5-b1, .p2o6-b1, .p2o7-b1, .p2o8-b1, .p2o9-b1, .p2o10-b1, .p2o11-b1, .p2o12-b1, .p3o3-b1, .p3o4-b1, .p3o5-b1, .p3o6-b1, .p3o7-b1, .p3o8-b1, .p3o9-b1, .p3o10-b1, .p3o11-b1, .p3o12-b1, .p4o4-b1, .p4o5-b1, .p4o6-b1, .p4o7-b1, .p4o8-b1, .p4o9-b1, .p4o10-b1, .p4o11-b1, .p4o12-b1, .p5o5-b1, .p5o6-b1, .p5o7-b1, .p5o8-b1, .p5o9-b1, .p5o10-b1, .p5o11-b1, .p5o12-b1, .p6o6-b1, .p6o7-b1, .p6o8-b1, .p6o9-b1, .p6o10-b1, .p6o11-b1, .p6o12-b1, .p7o7-b1, .p7o8-b1, .p7o9-b1, .p7o10-b1, .p7o11-b1, .p7o12-b1, .p8o8-b1, .p8o9-b1, .p8o10-b1, .p8o11-b1, .p8o12-b1, .p9o9-b1, .p9o10-b1, .p9o11-b1, .p9o12-b1, .p10o10-b1, .p10o11-b1, .p10o12-b1, .p11o11-b1, .p11o12-b1, .p12o12-b1 {margin-right:-100%;}

}

@media screen and (min-width:1024px) {
.lay-b2 {float:left;width:100%;}
.nolay-b2 {float:none;width:auto;}
.clear-b2 {clear:left;}
.noclear-b2 {clear:none;}

.nut-b2 {margin-left:-20px;}
.gut-b2 {margin-left:20px;}

.max700-b2 {max-width:700px;}
.max740-b2 {max-width:740px;}
.max940-b2 {max-width:940px;}
.max980-b2 {max-width:980px;}
.max1180-b2 {max-width:1180px;}
.max1220-b2 {max-width:1220px;}

.w1o1-b2, .w2o2-b2, .w3o3-b2, .w4o4-b2, .w5o5-b2, .w6o6-b2, .w7o7-b2, .w8o8-b2, .w9o9-b2, .w10o10-b2, .w11o11-b2, .w12o12-b2 {width:100%;}
.w1o2-b2, .w2o4-b2, .w3o6-b2, .w4o8-b2, .w5o10-b2, .w6o12-b2 {width:50%;}
.w1o3-b2, .w2o6-b2, .w3o9-b2, .w4o12-b2 {width:33.3333%;}
.w1o4-b2, .w2o8-b2, .w3o12-b2 {width:25%;}
.w1o5-b2, .w2o10-b2 {width:20%;}
.w1o6-b2, .w2o12-b2 {width:16.6666%;}
.w1o7-b2 {width:14.2857%;}
.w1o8-b2 {width:12.5%;}
.w1o9-b2 {width:11.1111%;}
.w1o10-b2 {width:10%;}
.w1o11-b2 {width:9.0909%;}
.w1o12-b2 {width:8.3333%;}
.w2o3-b2, .w4o6-b2, .w6o9-b2, .w8o12-b2 {width:66.6666%;}
.w2o5-b2, .w4o10-b2 {width:40%;}
.w2o7-b2 {width:28.5714%;}
.w2o9-b2 {width:22.2222%;}
.w2o11-b2 {width:18.1818%;}
.w3o4-b2, .w6o8-b2, .w9o12-b2 {width:75%;}
.w3o5-b2, .w6o10-b2 {width:60%;}
.w3o7-b2 {width:42.8571%;}
.w3o8-b2 {width:37.5%;}
.w3o10-b2 {width:30%;}
.w3o11-b2 {width:27.2727%;}
.w4o5-b2, .w8o10-b2 {width:80%;}
.w4o7-b2 {width:57.1428%;}
.w4o9-b2 {width:44.4444%;}
.w4o11-b2 {width:36.3636%;}
.w5o6-b2, .w10o12-b2 {width:83.3333%;}
.w5o7-b2 {width:71.4285%;}
.w5o8-b2 {width:62.5%;}
.w5o9-b2 {width:55.5555%;}
.w5o11-b2 {width:45.4545%;}
.w5o12-b2 {width:41.6666%;}
.w6o7-b2 {width:85.7142%;}
.w6o11-b2 {width:54.5454%;}
.w7o8-b2 {width:87.5%;}
.w7o9-b2 {width:77.7777%;}
.w7o10-b2 {width:70%;}
.w7o11-b2 {width:63.6363%;}
.w7o12-b2 {width:58.3333%;}
.w8o9-b2 {width:88.8888%;}
.w8o11-b2 {width:72.7272%;}
.w9o10-b2 {width:90%;}
.w9o11-b2 {width:81.8181%;}
.w10o11-b2 {width:90.909%;}
.w11o12-b2 {width:91.6666%;}

.p1o1-b2, .p1o2-b2, .p1o3-b2, .p1o4-b2, .p1o5-b2, .p1o6-b2, .p1o7-b2, .p1o8-b2, .p1o9-b2, .p1o10-b2, .p1o11-b2, .p1o12-b2 {margin-left:0%;}
.p2o2-b2, .p3o4-b2, .p4o6-b2, .p5o8-b2, .p6o10-b2, .p7o12-b2 {margin-left:50%;}
.p2o3-b2, .p3o6-b2, .p4o9-b2, .p5o12-b2 {margin-left:33.3333%;}
.p2o4-b2, .p3o8-b2, .p4o12-b2 {margin-left:25%;}
.p2o5-b2, .p3o10-b2 {margin-left:20%;}
.p2o6-b2, .p3o12-b2 {margin-left:16.6666%;}
.p2o7-b2 {margin-left:14.2857%;}
.p2o8-b2 {margin-left:12.5%;}
.p2o9-b2 {margin-left:11.1111%;}
.p2o10-b2 {margin-left:10%;}
.p2o11-b2 {margin-left:9.0909%;}
.p2o12-b2 {margin-left:8.3333%;}
.p3o3-b2, .p5o6-b2, .p7o9-b2, .p9o12-b2 {margin-left:66.6666%;}
.p3o5-b2, .p5o10-b2 {margin-left:40%;}
.p3o7-b2 {margin-left:28.5714%;}
.p3o9-b2 {margin-left:22.2222%;}
.p3o11-b2 {margin-left:18.1818%;}
.p4o4-b2, .p7o8-b2, .p10o12-b2 {margin-left:75%;}
.p4o5-b2, .p7o10-b2 {margin-left:60%;}
.p4o7-b2 {margin-left:42.8571%;}
.p4o8-b2 {margin-left:37.5%;}
.p4o10-b2 {margin-left:30%;}
.p4o11-b2 {margin-left:27.2727%;}
.p5o5-b2, .p9o10-b2 {margin-left:80%;}
.p5o7-b2 {margin-left:57.1428%;}
.p5o9-b2 {margin-left:44.4444%;}
.p5o11-b2 {margin-left:36.3636%;}
.p6o6-b2, .p11o12-b2 {margin-left:83.3333%;}
.p6o7-b2 {margin-left:71.4285%;}
.p6o8-b2 {margin-left:62.5%;}
.p6o9-b2 {margin-left:55.5555%;}
.p6o11-b2 {margin-left:45.4545%;}
.p6o12-b2 {margin-left:41.6666%;}
.p7o7-b2 {margin-left:85.7142%;}
.p7o11-b2 {margin-left:54.5454%;}
.p8o8-b2 {margin-left:87.5%;}
.p8o9-b2 {margin-left:77.7777%;}
.p8o10-b2 {margin-left:70%;}
.p8o11-b2 {margin-left:63.6363%;}
.p8o12-b2 {margin-left:58.3333%;}
.p9o9-b2 {margin-left:88.8888%;}
.p9o11-b2 {margin-left:72.7272%;}
.p10o10-b2 {margin-left:90%;}
.p10o11-b2 {margin-left:81.8181%;}
.p11o11-b2 {margin-left:90.909%;}
.p12o12-b2 {margin-left:91.6666%;}
.p1o1-b2, .p1o2-b2, .p1o3-b2, .p1o4-b2, .p1o5-b2, .p1o6-b2, .p1o7-b2, .p1o8-b2, .p1o9-b2, .p1o10-b2, .p1o11-b2, .p1o12-b2, .p2o2-b2, .p2o3-b2, .p2o4-b2, .p2o5-b2, .p2o6-b2, .p2o7-b2, .p2o8-b2, .p2o9-b2, .p2o10-b2, .p2o11-b2, .p2o12-b2, .p3o3-b2, .p3o4-b2, .p3o5-b2, .p3o6-b2, .p3o7-b2, .p3o8-b2, .p3o9-b2, .p3o10-b2, .p3o11-b2, .p3o12-b2, .p4o4-b2, .p4o5-b2, .p4o6-b2, .p4o7-b2, .p4o8-b2, .p4o9-b2, .p4o10-b2, .p4o11-b2, .p4o12-b2, .p5o5-b2, .p5o6-b2, .p5o7-b2, .p5o8-b2, .p5o9-b2, .p5o10-b2, .p5o11-b2, .p5o12-b2, .p6o6-b2, .p6o7-b2, .p6o8-b2, .p6o9-b2, .p6o10-b2, .p6o11-b2, .p6o12-b2, .p7o7-b2, .p7o8-b2, .p7o9-b2, .p7o10-b2, .p7o11-b2, .p7o12-b2, .p8o8-b2, .p8o9-b2, .p8o10-b2, .p8o11-b2, .p8o12-b2, .p9o9-b2, .p9o10-b2, .p9o11-b2, .p9o12-b2, .p10o10-b2, .p10o11-b2, .p10o12-b2, .p11o11-b2, .p11o12-b2, .p12o12-b2 {margin-right:-100%;}

}