/* IE LTE 7 Fixes for ZXCSS Layout 0.5 beta by Dave Smith http://www.dave-smith.info/zxcss-layout/ */
.row, .center, .inn {display:inline-block;}
.row, .center, .inn {display:block;}
.col {margin-right:-1px;}