/* ZXCSS Layout 0.5 beta by Dave Smith http://www.dave-smith.info/zxcss-layout/ */

/* Core */
.col {float:left;}
.row:before,
.center:before,
.row:after,
.center:after {content:"\0020";display:block;height:0;overflow:hidden;}
.row:after,
.center:after {clear:both;}

/* Media */
.col img,
.col embed,
.col iframe,
.col video,
.col audio {max-width:100%;height:auto;}

/* Column */
.w480 {max-width:480px;}
.w768 {max-width:768px;}
.w960 {max-width:960px;}
.w980 {max-width:980px;}
.w1140 {max-width:1140px;}
.w1380 {max-width:1380px;}
.w1o1, .w2o2, .w3o3, .w4o4, .w5o5, .w6o6, .w7o7, .w8o8, .w9o9, .w10o10, .w11o11, .w12o12 {width:100%;}
.w1o2, .w2o4, .w3o6, .w4o8, .w5o10, .w6o12 {width:50%;}
.w1o3, .w2o6, .w3o9, .w4o12 {width:33.3333%;}
.w2o3, .w4o6, .w6o9, .w8o12 {width:66.6666%;}
.w1o4, .w2o8, .w3o12 {width:25%;}
.w3o4, .w6o8, .w9o12 {width:75%;}
.w1o5, .w2o10 {width:20%;}
.w2o5, .w4o10 {width:40%;}
.w3o5, .w6o10 {width:60%;}
.w4o5, .w8o10 {width:80%;}
.w1o6, .w2o12 {width:16.6666%;}
.w5o6, .w10o12 {width:83.3333%;}
.w1o7 {width:14.2857%;}
.w2o7 {width:28.5714%;}
.w3o7 {width:42.8571%;}
.w4o7 {width:57.1428%;}
.w5o7 {width:71.4285%;}
.w6o7 {width:85.7142%;}
.w1o8 {width:12.5%;}
.w3o8 {width:37.5%;}
.w5o8 {width:62.5%;}
.w7o8 {width:87.5%;}
.w1o9 {width:11.1111%;}
.w2o9 {width:22.2222%;}
.w4o9 {width:44.4444%;}
.w5o9 {width:55.5555%;}
.w7o9 {width:77.7777%;}
.w8o9 {width:88.8888%;}
.w1o10 {width:10%;}
.w3o10 {width:30%;}
.w7o10 {width:70%;}
.w9o10 {width:90%;}
.w1o11 {width:9.0909%;}
.w2o11 {width:18.1818%;}
.w3o11 {width:27.2727%;}
.w4o11 {width:36.3636%;}
.w5o11 {width:45.4545%;}
.w6o11 {width:54.5454%;}
.w7o11 {width:63.6363%;}
.w8o11 {width:72.7272%;}
.w9o11 {width:81.8181%;}
.w10o11 {width:90.909%;}
.w1o12 {width:8.3333%;}
.w5o12 {width:41.6666%;}
.w7o12 {width:58.3333%;}
.w11o12 {width:91.6666%;}
.p1o1, .p1o2, .p1o3, .p1o4, .p1o5, .p1o6, .p1o7, .p1o8, .p1o9, .p1o10, .p1o11, .p1o12 {margin-left:0%;margin-right:-100%;}
.p2o2, .p3o4, .p4o6, .p5o8, .p6o10, .p7o12 {margin-left:50%;margin-right:-100%;}
.p2o3, .p3o6, .p4o9, .p5o12 {margin-left:33.3333%;margin-right:-100%;}
.p3o3, .p5o6, .p7o9, .p9o12 {margin-left:66.6666%;margin-right:-100%;}
.p2o4, .p3o8, .p4o12 {margin-left:25%;margin-right:-100%;}
.p4o4, .p7o8, .p10o12 {margin-left:75%;margin-right:-100%;}
.p2o5, .p3o10 {margin-left:20%;margin-right:-100%;}
.p3o5, .p5o10 {margin-left:40%;margin-right:-100%;}
.p4o5, .p7o10 {margin-left:60%;margin-right:-100%;}
.p5o5, .p9o10 {margin-left:80%;margin-right:-100%;}
.p2o6, .p3o12 {margin-left:16.6666%;margin-right:-100%;}
.p6o6, .p11o12 {margin-left:83.3333%;margin-right:-100%;}
.p2o7 {margin-left:14.2857%;margin-right:-100%;}
.p3o7 {margin-left:28.5714%;margin-right:-100%;}
.p4o7 {margin-left:42.8571%;margin-right:-100%;}
.p5o7 {margin-left:57.1428%;margin-right:-100%;}
.p6o7 {margin-left:71.4285%;margin-right:-100%;}
.p7o7 {margin-left:85.7142%;margin-right:-100%;}
.p2o8 {margin-left:12.5%;margin-right:-100%;}
.p4o8 {margin-left:37.5%;margin-right:-100%;}
.p6o8 {margin-left:62.5%;margin-right:-100%;}
.p8o8 {margin-left:87.5%;margin-right:-100%;}
.p2o9 {margin-left:11.1111%;margin-right:-100%;}
.p3o9 {margin-left:22.2222%;margin-right:-100%;}
.p5o9 {margin-left:44.4444%;margin-right:-100%;}
.p6o9 {margin-left:55.5555%;margin-right:-100%;}
.p8o9 {margin-left:77.7777%;margin-right:-100%;}
.p9o9 {margin-left:88.8888%;margin-right:-100%;}
.p2o10 {margin-left:10%;margin-right:-100%;}
.p4o10 {margin-left:30%;margin-right:-100%;}
.p8o10 {margin-left:70%;margin-right:-100%;}
.p10o10 {margin-left:90%;margin-right:-100%;}
.p2o11 {margin-left:9.0909%;margin-right:-100%;}
.p3o11 {margin-left:18.1818%;margin-right:-100%;}
.p4o11 {margin-left:27.2727%;margin-right:-100%;}
.p5o11 {margin-left:36.3636%;margin-right:-100%;}
.p6o11 {margin-left:45.4545%;margin-right:-100%;}
.p7o11 {margin-left:54.5454%;margin-right:-100%;}
.p8o11 {margin-left:63.6363%;margin-right:-100%;}
.p9o11 {margin-left:72.7272%;margin-right:-100%;}
.p10o11 {margin-left:81.8181%;margin-right:-100%;}
.p11o11 {margin-left:90.909%;margin-right:-100%;}
.p2o12 {margin-left:8.3333%;margin-right:-100%;}
.p6o12 {margin-left:41.6666%;margin-right:-100%;}
.p8o12 {margin-left:58.3333%;margin-right:-100%;}
.p12o12 {margin-left:91.6666%;margin-right:-100%;}

.center {float:none;margin:0 auto;}

