/*
//  BaseUp CSS
*/
{{#breakpoints}}
{{#isgt0}}

/* Breakpoint{{bp}} */
@media all and (min-width:{{at}}px) {

{{/isgt0}}


/* Copy */
{{#is0}}
h1, h2, h3, h4, h5, h6 {margin:0;}
p,form,ol,ul,dl {margin-top:0;}
{{/is0}}

{{#basechanged}}
body {font-size:{{copyfontsize}}em;line-height:{{copylineheight}};}
p,form,ol,ul,dl {margin-bottom:{{base}}px;}
h1 {font-size:{{h1}}%;line-height:{{h1lineheight}};}
h2 {font-size:{{h2}}%;line-height:{{h2lineheight}};}
h3 {font-size:{{h3}}%;line-height:{{h3lineheight}};}
h4 {font-size:{{h4}}%;line-height:{{h4lineheight}};}
h5 {font-size:{{h5}}%;line-height:{{h5lineheight}};}
h6 {font-size:{{h6}}%;line-height:{{h6lineheight}};}
{{/basechanged}}

{{#is0}}


/* Layout */
.{{ns}}{{lay}} {list-style-type:none;margin-left:0;margin-right:0;padding-left:0;padding-right:0;}

.{{ns}}{{lay}}:after,
.{{ns}}{{lay}}:before,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layleft}}:before,
.{{ns}}{{layright}}:after,
.{{ns}}{{layright}}:before,
.{{ns}}{{laycentered}}:after,
.{{ns}}{{laycentered}}:before {content:"";display:table;}
.{{ns}}{{lay}}:after,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layright}}:after,
.{{ns}}{{laycentered}}:after {clear:both;}

{{#legacysupport}}
/* Layout > Legacy Support > IE 6 and 7 fix to trigger hasLayout */
.{{ns}}{{lay}},
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:inline-block;}
.{{ns}}{{lay}},
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:block;}
{{/legacysupport}}

.{{ns}}{{layleft}} {margin-right:auto;}
.{{ns}}{{layright}} {margin-left:auto;}
.{{ns}}{{laycentered}} {margin-left:auto;margin-right:auto;}

.{{ns}}{{clear}} {clear:both;}




/* Layout > Columns */
.{{ns}}{{col}} {float:left;width:100%;}
.{{ns}}{{col}}s > * {float:left;width:100%;}

{{#legacysupport}}
/* Layout > Cols > Legacy Support */
/*  IE 6 and 7 fix */
.{{ns}}{{col}} {
    _display:inline; /* 1 */
    _word-wrap:break-word; /* 2 */
    _overflow:hidden; /* 3 */
    *margin-right:-1px; /* 4 */
}
.{{ns}}{{col}}s > * {
    *margin-right:-1px; /* 4 */
}
/*
//  1. Fix the double margin float bug in IE 6
//  2. Prevent unbroken strings of text and URLs breaking the layout in IE 6
//  3. Prevent images wider than the column width breaking the layout in IE 6
//  4. Account for pixel-rounding of percentages in IE 6 and 7
*/

/* IE 6 and 7 fix applied in baseup.js */
.baseup-legacy-support-{{clear}}-a {float:left;width:100%;height:0;overflow:hidden;}
.baseup-legacy-support-{{clear}}-b {clear:both;height:0;overflow:hidden;}

/* IE 6 fix applied in baseup.js */
.baseup-legacy-support-{{lay}} {float:left;width:100%;}

{{/legacysupport}}




/* Layout > Positioned Columns */
.{{ns}}{{pos}} {margin-right:-100%;}




/* Layout > Pull Left and Right */
.{{ns}}{{pullleft}} {float:left;width:100%;}
.{{ns}}{{pullright}} {float:right;width:100%;}
{{/is0}}
{{#isgt0}}
    
    /* Layout > Columns */
    .{{ns}}{{col}}{{bp}} {float:left;width:100%;}
    .{{ns}}{{colnone}}{{bp}} {float:none;width:auto;}
    .{{ns}}{{clear}}{{bp}} {clear:left;}
    .{{ns}}{{clearnone}}{{bp}} {clear:none;}

{{#is1}}
    .{{ns}}{{pullleft}},
    .{{ns}}{{pullright}} {width:auto;}
    
{{/is1}}

{{/isgt0}}




/* Layout > Heights */
{{#heights}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {height:{{val}};}
{{/heights}}



/* Layout > Hide Gutter Left */
{{#innguthides}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/innguthides}}



/* Layout > Gut Left */
{{#gutlefts}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/gutlefts}}



/* Layout > Gut Right */
{{#gutrights}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/gutrights}}



/* Layout > Gut Bottom */
{{#gutbottoms}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/gutbottoms}}



/* Layout > Pull Gut Left */
{{#pullgutlefts}}
{{#main}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;}
{{/main}}
{{#legacysupport}}
{{#legacy}}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
{{selector}}{{#isnotlast}},
{{/isnotlast}} {*margin-left:0;*right:0;*float:left;}
{{/legacy}}
{{/legacysupport}}
{{#none}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:0;width:auto;float:none;position:static;}
{{/none}}
{{#more}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-right:{{val}};}
{{/more}}
{{/pullgutlefts}}



/* Layout > Pull Gut Right */
{{#pullgutrights}}
{{#main}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;}
{{/main}}
{{#legacysupport}}
{{#legacy}}
/* Legacy Support > Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
{{selector}}{{#isnotlast}},
{{/isnotlast}} {*margin-right:0;*left:0;*float:right;}
{{/legacy}}
{{/legacysupport}}
{{#none}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-right:0;width:auto;float:none;position:static;}
{{/none}}
{{#more}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/more}}
{{/pullgutrights}}



/* Max Width */
{{#isgt0}}
.{{ns}}{{widthmax}} {max-width:{{maxwidthbp}}px;}
{{/isgt0}}
{{#maxwidths}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {max-width:{{val}};}
{{/maxwidths}}



/* Widths */
.{{ns}}{{width}}s-auto{{bp}} > * {width:auto;}
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} .col-cols,
.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} > *{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}



/* Width */
.{{ns}}{{width}}-auto{{bp}} {width:auto;}
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}



/* Widths px */
{{#widthspx}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {width:{{val}};}
{{/widthspx}}



/* Guts */
{{#gutsmargin}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};margin-right:{{val}}}
{{/gutsmargin}}
{{#gutspaddingall}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
{{/gutspaddingall}}
{{#gutspadding}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {padding-left:{{val}};padding-right:{{val}}}
{{/gutspadding}}
{{#legacysupport}}

/* IE 6 and 7 fixes because they don't support box-sizing */
{{#gutsmarginall}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {*margin-left:0;*margin-right:0;}
{{/gutsmarginall}}
{{#gutspaddingall}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {*padding-left:0;*padding-right:0;}
{{/gutspaddingall}}
{{/legacysupport}}



/* Guts Full-Width classes */
{{#gutsfws}}
{{{selector}}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/gutsfws}}


/* Pos */
{{#poss}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {margin-left:{{value}}%;}
{{/poss}}

{{#poss}}{{#fractions}}{{#isnotveryfirst}},
{{/isnotveryfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}}{{/poss}} {margin-right:-100%;}




{{#bp}}
}
{{/bp}}

{{/breakpoints}}

