/*
//  BaseUp CSS
*/

.{{ns}}{{col}} {float:left;width:100%;}
.{{ns}}{{col}}s > * {float:left;width:100%;}


{{#legacysupport}}
/*  IE 6 and 7 fix */
.{{ns}}{{col}} {
    _display:inline; /* 1 */
    _word-wrap:break-word; /* 2 */
    _overflow:hidden; /* 3 */
    *margin-right:-1px; /* 4 */
}
.{{ns}}{{col}}s > * {
    *margin-right:-1px; /* 4 */
}
/*
//  1. Fix the double margin float bug in IE 6
//  2. Prevent unbroken strings of text and URLs breaking the layout in IE 6
//  3. Prevent images wider than the column width breaking the layout in IE 6
//  4. Account for pixel-rounding of percentages in IE 6 and 7
*/

/* IE 6 and 7 fix applied in baseup.js */
.baseup-legacy-support-{{clear}}-a {float:left;width:100%;height:0;overflow:hidden;}
.baseup-legacy-support-{{clear}}-b {clear:both;height:0;overflow:hidden;}

/* IE 6 fix applied in baseup.js */
.baseup-legacy-support-{{lay}} {float:left;width:100%;}

{{/legacysupport}}


.{{ns}}{{pullleft}} {float:left;width:100%;}
.{{ns}}{{pullright}} {float:right;width:100%;}
.{{ns}}{{pos}} {margin-right:-100%;}
.{{ns}}{{lay}} {list-style-type:none;margin-left:0;margin-right:0;padding-left:0;padding-right:0;}


{{#breakpoints}}
{{#isgt0}}
@media all and (min-width:{{at}}px) {

    .{{ns}}{{widthmax}} {max-width:{{maxwidthbp}}px;}
    
{{#issecond}}
    .{{ns}}{{pullleft}},
    .{{ns}}{{pullright}} {width:auto;}
    
{{/issecond}}
}
{{/isgt0}}

{{/breakpoints}}

.{{ns}}{{lay}}:after,
.{{ns}}{{lay}}:before,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layleft}}:before,
.{{ns}}{{layright}}:after,
.{{ns}}{{layright}}:before,
.{{ns}}{{laycentered}}:after,
.{{ns}}{{laycentered}}:before {content:"";display:table;}
.{{ns}}{{lay}}:after,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layright}}:after,
.{{ns}}{{laycentered}}:after {clear:both;}

{{#legacysupport}}
/* IE 6 and 7 fix to trigger hasLayout */
.{{ns}}{{lay}},
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:inline-block;}
.{{ns}}{{lay}},
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:block;}
{{/legacysupport}}

.{{ns}}{{layleft}} {margin-right:auto;}
.{{ns}}{{layright}} {margin-left:auto;}
.{{ns}}{{laycentered}} {margin-left:auto;margin-right:auto;}

.{{ns}}{{clear}} {clear:both;}

{{! This is where the action starts}}
{{#breakpoints}}
{{#bp}}

@media all and (min-width:{{at}}px) {

.{{ns}}{{col}}{{bp}} {float:left;width:100%;}
.{{ns}}{{colnone}}{{bp}} {float:none;width:auto;}
.{{ns}}{{clear}}{{bp}} {clear:left;}
.{{ns}}{{clearnone}}{{bp}} {clear:none;}
{{/bp}}


/* Heights */
{{#heights}}
.{{ns}}height-{{i}}x{{bp}} {height:{{height}};}
{{/heights}}

/* Hide Gutter Left */
.{{ns}}{{innguthide}}{{bp}} {margin-left:-{{gutter}}px;}
{{#gutters}}
{{#isforlay}}
.{{ns}}{{innguthide}}-{{i}}x{{bp}} {margin-left:-{{gutter}}px;}
{{/isforlay}}
{{/gutters}}
.{{ns}}{{innguthide}}-1o2x{{bp}} {margin-left:-{{gutter1o2}}px;}
.{{ns}}{{innguthide}}-none{{bp}} {margin-left:0;}


/* Gut Left */
.{{ns}}{{gutleft}}{{bp}} {margin-left:{{gutter}}px;}
{{#gutters}}
.{{ns}}{{gutleft}}-{{i}}x{{bp}} {margin-left:{{gutter}}px;}
{{/gutters}}
.{{ns}}{{gutleft}}-1o2x{{bp}} {margin-left:{{gutter1o2}}px;}

.{{ns}}{{gutsmall}}{{bp}} {margin-left:{{gutsmallmargin}}px;}
.{{ns}}{{gutmedium}}{{bp}} {margin-left:{{gutmediummargin}}px;}
.{{ns}}{{gutlarge}}{{bp}} {margin-left:{{gutlargemargin}}px;}
.{{ns}}{{gutleft}}-none{{bp}} {margin-left:0;}


/* Gut Right */
.{{ns}}{{gutright}}{{bp}} {margin-right:{{gutter}}px;}
{{#gutters}}
.{{ns}}{{gutright}}-{{i}}x{{bp}} {margin-right:{{gutter}}px;}
{{/gutters}}
.{{ns}}{{gutright}}-1o2x{{bp}} {margin-right:{{gutter1o2}}px;}

.{{ns}}{{gutrightsmall}}{{bp}} {margin-right:{{gutsmallmargin}}px;}
.{{ns}}{{gutrightmedium}}{{bp}} {margin-right:{{gutmediummargin}}px;}
.{{ns}}{{gutrightlarge}}{{bp}} {margin-right:{{gutlargemargin}}px;}
.{{ns}}{{gutright}}-none{{bp}} {margin-right:0;}


/* Gut Bottom */
.{{ns}}{{gutbot}}{{bp}} {margin-bottom:{{gutter}}px;}
{{#gutters}}
{{#isforlay}}
.{{ns}}{{gutbot}}-{{i}}x{{bp}} {margin-bottom:{{gutter}}px;}
{{/isforlay}}
{{/gutters}}
.{{ns}}{{gutbot}}-1o2x{{bp}} {margin-bottom:{{gutter1o2}}px;}
.{{ns}}{{gutbot}}-none{{bp}} {margin-bottom:0;}


/* Pull Gut Left */
.{{ns}}{{pullgut}}{{bp}} {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;margin-right:20px;}
.{{ns}}{{pullgut}}-none{{bp}} {margin-left:0;width:auto;float:none;position:static;}
/* IE 6 and 7 graceful degradation */
.{{ns}}{{pullgut}}{{bp}} {*margin-left:0;*right:0;*float:left;}


/* Pull Gut Right */
.{{ns}}{{pullgutright}}{{bp}} {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;margin-left:20px;}
.{{ns}}{{pullgutright}}-none{{bp}} {margin-right:0;width:auto;float:none;position:static;}
/* IE 6 and 7 graceful degradation */
.{{ns}}{{pullgutright}}{{bp}} {*margin-right:0;*left:0;*float:right;}



/* Max Width */
{{#maxwidths}}
.{{ns}}{{widthmax}}-{{dx}}dx{{bp}} {max-width:{{maxwidth}}px;}
{{/maxwidths}}



/* Widths */
.{{ns}}{{width}}s-auto{{bp}} > * {width:auto;}
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} .col-cols,
.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} > *{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}



/* Width */
.{{ns}}{{width}}-auto{{bp}} {width:auto;}
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}



/* Guts */
.{{ns}}{{gut}}s{{bp}} > *,
.{{ns}}{{gut}}s-1x{{bp}} > *,
.{{ns}}{{gut}}s-2x{{bp}} > *,
.{{ns}}{{gut}}s-1o2x{{bp}} > * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

.{{ns}}{{gut}}s-1o2x{{bp}} {margin-left:-5px;margin-right:-5px;}
.{{ns}}{{gut}}s-1o2x{{bp}} > * {padding-left:5px;padding-right:5px;}
.{{ns}}{{gut}}s{{bp}} {margin-left:-10px;margin-right:-10px;}
.{{ns}}{{gut}}s{{bp}} > * {padding-left:10px;padding-right:10px;}
.{{ns}}{{gut}}s-1x{{bp}} {margin-left:-10px;margin-right:-10px;}
.{{ns}}{{gut}}s-1x{{bp}} > * {padding-left:10px;padding-right:10px;}
.{{ns}}{{gut}}s-2x{{bp}} {margin-left:-20px;margin-right:-20px;}
.{{ns}}{{gut}}s-2x{{bp}} > * {padding-left:20px;padding-right:20px;}

{{#legacysupport}}
/* IE 6 and 7 fixes because they don't support box-sizing */
.{{ns}}{{gut}}s-1o2x{{bp}},
.{{ns}}{{gut}}s{{bp}},
.{{ns}}{{gut}}s-1x{{bp}},
.{{ns}}{{gut}}s-2x{{bp}} {*margin-left:0;*margin-right:0;}
.{{ns}}{{gut}}s-1o2x{{bp}} > *,
.{{ns}}{{gut}}s{{bp}} > *,
.{{ns}}{{gut}}s-1x{{bp}} > *,
.{{ns}}{{gut}}s-2x{{bp}} > * {*padding-left:0;*padding-right:0;}
{{/legacysupport}}


/* Guts Full-Width class a */
.{{gutsfw}}-1o2x{{bp}} {margin-left:-10px;}
.{{gutsfw}}-1o2x{{bp}} > * > * {margin-left:10px;}
.{{gutsfw}}{{bp}} {margin-left:-20px;}
.{{gutsfw}}{{bp}} > * > * {margin-left:20px;}
.{{gutsfw}}-1x{{bp}} {margin-left:-20px;}
.{{gutsfw}}-1x{{bp}} > * > * {margin-left:20px;}
.{{gutsfw}}-2x{{bp}} {margin-left:-40px;}
.{{gutsfw}}-2x{{bp}} > * > * {margin-left:40px;}



/* Pos */
{{#poss}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {margin-left:{{value}}%;}
{{/poss}}

{{#poss}}{{#fractions}}{{#isnotveryfirst}},
{{/isnotveryfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}}{{/poss}} {margin-right:-100%;}




{{#bp}}
}
{{/bp}}

{{/breakpoints}}

