/*
//  BaseUp CSS
*/
{{#breakpoints}}
{{#isgt0}}

/* Breakpoint{{bp}} */
@media all and (min-width:{{at}}px) {

{{/isgt0}}
{{#is0}}



/* Copy */
body {font-size:{{copyfontsize}}em;line-height:{{copylineheight}};}
h1, h2, h3, h4, h5, h6 {margin:0;}
p,form,ol,ul,dl {margin-top:0;margin-bottom:{{base}}px;}

h1 {font-size:{{h1}}%;line-height:{{h1lineheight}};}
h2 {font-size:{{h2}}%;line-height:{{h2lineheight}};}
h3 {font-size:{{h3}}%;line-height:{{h3lineheight}};}
h4 {font-size:{{h4}}%;line-height:{{h4lineheight}};}
h5 {font-size:{{h5}}%;line-height:{{h5lineheight}};}
h6 {font-size:{{h6}}%;line-height:{{h6lineheight}};}




/* Layout */
.{{ns}}{{lay}} {list-style-type:none;margin-left:0;margin-right:0;padding-left:0;padding-right:0;}

.{{ns}}{{lay}}:after,
.{{ns}}{{lay}}:before,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layleft}}:before,
.{{ns}}{{layright}}:after,
.{{ns}}{{layright}}:before,
.{{ns}}{{laycentered}}:after,
.{{ns}}{{laycentered}}:before {content:"";display:table;}
.{{ns}}{{lay}}:after,
.{{ns}}{{layleft}}:after,
.{{ns}}{{layright}}:after,
.{{ns}}{{laycentered}}:after {clear:both;}

{{#legacysupport}}
/* Layout > Legacy Support > IE 6 and 7 fix to trigger hasLayout */
.{{ns}}{{lay}},
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:inline-block;}
.{{ns}}{{lay}},
.{{ns}}{{layleft}},
.{{ns}}{{layright}},
.{{ns}}{{laycentered}} {display:block;}
{{/legacysupport}}

.{{ns}}{{layleft}} {margin-right:auto;}
.{{ns}}{{layright}} {margin-left:auto;}
.{{ns}}{{laycentered}} {margin-left:auto;margin-right:auto;}

.{{ns}}{{clear}} {clear:both;}




/* Layout > Columns */
.{{ns}}{{col}} {float:left;width:100%;}
.{{ns}}{{col}}s > * {float:left;width:100%;}

{{#legacysupport}}
/* Layout > Cols > Legacy Support */
/*  IE 6 and 7 fix */
.{{ns}}{{col}} {
    _display:inline; /* 1 */
    _word-wrap:break-word; /* 2 */
    _overflow:hidden; /* 3 */
    *margin-right:-1px; /* 4 */
}
.{{ns}}{{col}}s > * {
    *margin-right:-1px; /* 4 */
}
/*
//  1. Fix the double margin float bug in IE 6
//  2. Prevent unbroken strings of text and URLs breaking the layout in IE 6
//  3. Prevent images wider than the column width breaking the layout in IE 6
//  4. Account for pixel-rounding of percentages in IE 6 and 7
*/

/* IE 6 and 7 fix applied in baseup.js */
.baseup-legacy-support-{{clear}}-a {float:left;width:100%;height:0;overflow:hidden;}
.baseup-legacy-support-{{clear}}-b {clear:both;height:0;overflow:hidden;}

/* IE 6 fix applied in baseup.js */
.baseup-legacy-support-{{lay}} {float:left;width:100%;}

{{/legacysupport}}




/* Layout > Positioned Columns */
.{{ns}}{{pos}} {margin-right:-100%;}




/* Layout > Pull Left and Right */
.{{ns}}{{pullleft}} {float:left;width:100%;}
.{{ns}}{{pullright}} {float:right;width:100%;}
{{/is0}}
{{#isgt0}}
    
    /* Layout > Columns */
    .{{ns}}{{col}}{{bp}} {float:left;width:100%;}
    .{{ns}}{{colnone}}{{bp}} {float:none;width:auto;}
    .{{ns}}{{clear}}{{bp}} {clear:left;}
    .{{ns}}{{clearnone}}{{bp}} {clear:none;}

{{#is1}}
    .{{ns}}{{pullleft}},
    .{{ns}}{{pullright}} {width:auto;}
    
{{/is1}}

{{/isgt0}}




/* Layout > Heights */
{{#heights}}
.{{ns}}height-{{i}}x{{bp}} {height:{{base}}px;}
{{/heights}}



/* Layout > Hide Gutter Left */
{{#innguthides}}
{{selector}}{{#isnotlast}},
{{/isnotlast}} {margin-left:{{val}};}
{{/innguthides}}



.{{ns}}{{innguthide}}{{bp}} {margin-left:-{{base}}px;}
{{#gutters}}
{{#isforlay}}
.{{ns}}{{innguthide}}-{{i}}x{{bp}} {margin-left:-{{base}}px;}
{{/isforlay}}
{{/gutters}}
.{{ns}}{{innguthide}}-1o2x{{bp}} {margin-left:-{{base1o2}}px;}
.{{ns}}{{innguthide}}-none{{bp}} {margin-left:0;}



/* Layout > Gut Left */
.{{ns}}{{gutleft}}{{bp}} {margin-left:{{base}}px;}
{{#gutters}}
.{{ns}}{{gutleft}}-{{i}}x{{bp}} {margin-left:{{base}}px;}
{{/gutters}}
.{{ns}}{{gutleft}}-1o2x{{bp}} {margin-left:{{base1o2}}px;}
.{{ns}}{{gutsmall}}{{bp}} {margin-left:{{gutsmallmargin}}px;}
.{{ns}}{{gutmedium}}{{bp}} {margin-left:{{gutmediummargin}}px;}
.{{ns}}{{gutlarge}}{{bp}} {margin-left:{{gutlargemargin}}px;}
.{{ns}}{{gutleft}}-none{{bp}} {margin-left:0;}



/* Layout > Gut Right */
.{{ns}}{{gutright}}{{bp}} {margin-right:{{base}}px;}
{{#gutters}}
.{{ns}}{{gutright}}-{{i}}x{{bp}} {margin-right:{{base}}px;}
{{/gutters}}
.{{ns}}{{gutright}}-1o2x{{bp}} {margin-right:{{base1o2}}px;}
.{{ns}}{{gutrightsmall}}{{bp}} {margin-right:{{gutsmallmargin}}px;}
.{{ns}}{{gutrightmedium}}{{bp}} {margin-right:{{gutmediummargin}}px;}
.{{ns}}{{gutrightlarge}}{{bp}} {margin-right:{{gutlargemargin}}px;}
.{{ns}}{{gutright}}-none{{bp}} {margin-right:0;}



/* Layout > Gut Bottom */
.{{ns}}{{gutbot}}{{bp}} {margin-bottom:{{base}}px;}
{{#gutters}}
{{#isforlay}}
.{{ns}}{{gutbot}}-{{i}}x{{bp}} {margin-bottom:{{base}}px;}
{{/isforlay}}
{{/gutters}}
.{{ns}}{{gutbot}}-1o2x{{bp}} {margin-bottom:{{base1o2}}px;}
.{{ns}}{{gutbot}}-none{{bp}} {margin-bottom:0;}



/* Layout > Pull Gut Left */
.{{ns}}{{pullgut}}{{bp}} {float:right;position:relative;margin-left:-100%;right:100%;clear:both;display:inline;margin-right:20px;}
.{{ns}}{{pullgut}}-none{{bp}} {margin-left:0;width:auto;float:none;position:static;}
/* Layout > Pull Gut Left > IE 6 and 7 graceful degradation */
.{{ns}}{{pullgut}}{{bp}} {*margin-left:0;*right:0;*float:left;}



/* Layout > Pull Gut Right */
.{{ns}}{{pullgutright}}{{bp}} {float:left;position:relative;margin-right:-100%;left:100%;clear:both;display:inline;margin-left:20px;}
.{{ns}}{{pullgutright}}-none{{bp}} {margin-right:0;width:auto;float:none;position:static;}
/* Layout > Pull Gut Right > IE 6 and 7 graceful degradation */
.{{ns}}{{pullgutright}}{{bp}} {*margin-right:0;*left:0;*float:right;}



/* Max Width */
{{#isgt0}}
.{{ns}}{{widthmax}} {max-width:{{maxwidthbp}}px;}
{{/isgt0}}
{{#maxwidths}}
.{{ns}}{{widthmax}}-{{dx}}dx{{bp}} {max-width:{{maxwidth}}px;}
{{/maxwidths}}



/* Widths */
.{{ns}}{{width}}s-auto{{bp}} > * {width:auto;}
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} .col-cols,
.{{ns}}{{width}}s-{{numerator}}o{{denominator}}{{bp}} > *{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}



/* Width */
.{{ns}}{{width}}-auto{{bp}} {width:auto;}
{{#widthclasses}}{{#widths}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{width}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {width:{{value}}%;}
{{/widths}}{{/widthclasses}}



/* Guts */
.{{ns}}{{gut}}s{{bp}} > *,
.{{ns}}{{gut}}s-1x{{bp}} > *,
.{{ns}}{{gut}}s-2x{{bp}} > *,
.{{ns}}{{gut}}s-1o2x{{bp}} > * {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

.{{ns}}{{gut}}s-1o2x{{bp}} {margin-left:-{{halfbase1o2}}px;margin-right:-{{halfbase1o2}}px;}
.{{ns}}{{gut}}s-1o2x{{bp}} > * {padding-left:{{halfbase1o2}}px;padding-right:{{halfbase1o2}}px;}
.{{ns}}{{gut}}s{{bp}} {margin-left:-{{halfbase}}px;margin-right:-{{halfbase}}px;}
.{{ns}}{{gut}}s{{bp}} > * {padding-left:{{halfbase}}px;padding-right:{{halfbase}}px;}
.{{ns}}{{gut}}s-1x{{bp}} {margin-left:-{{halfbase}}px;margin-right:-{{halfbase}}px;}
.{{ns}}{{gut}}s-1x{{bp}} > * {padding-left:{{halfbase}}px;padding-right:{{halfbase}}px;}
.{{ns}}{{gut}}s-2x{{bp}} {margin-left:-{{halfbase2x}}px;margin-right:-{{halfbase2x}}px;}
.{{ns}}{{gut}}s-2x{{bp}} > * {padding-left:{{halfbase2x}}px;padding-right:{{halfbase2x}}px;}

{{#legacysupport}}
/* IE 6 and 7 fixes because they don't support box-sizing */
.{{ns}}{{gut}}s-1o2x{{bp}},
.{{ns}}{{gut}}s{{bp}},
.{{ns}}{{gut}}s-1x{{bp}},
.{{ns}}{{gut}}s-2x{{bp}} {*margin-left:0;*margin-right:0;}
.{{ns}}{{gut}}s-1o2x{{bp}} > *,
.{{ns}}{{gut}}s{{bp}} > *,
.{{ns}}{{gut}}s-1x{{bp}} > *,
.{{ns}}{{gut}}s-2x{{bp}} > * {*padding-left:0;*padding-right:0;}
{{/legacysupport}}


/* Guts Full-Width class a */
.{{gutsfw}}-1o2x{{bp}} {margin-left:-{{base1o2}}px;}
.{{gutsfw}}-1o2x{{bp}} > * > * {margin-left:{{base1o2}}px;}
.{{gutsfw}}{{bp}} {margin-left:-{{base}}px;}
.{{gutsfw}}{{bp}} > * > * {margin-left:{{base}};}
.{{gutsfw}}-1x{{bp}} {margin-left:-{{base}}px;}
.{{gutsfw}}-1x{{bp}} > * > * {margin-left:{{base}}px;}
.{{gutsfw}}-2x{{bp}} {margin-left:-{{base2x}}px;}
.{{gutsfw}}-2x{{bp}} > * > * {margin-left:{{base2x}}px;}



/* Pos */
{{#poss}}
{{#fractions}}{{#isnotfirst}},
{{/isnotfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}} {margin-left:{{value}}%;}
{{/poss}}

{{#poss}}{{#fractions}}{{#isnotveryfirst}},
{{/isnotveryfirst}}.{{ns}}{{pos}}-{{numerator}}o{{denominator}}{{bp}}{{/fractions}}{{/poss}} {margin-right:-100%;}




{{#bp}}
}
{{/bp}}

{{/breakpoints}}

