/* Page styles */
body {margin:0;}
.output-demo .lay > div > div {background:#ddd;}

.inactive {display:none;}


.demo {margin-left:300px;}
.hud {position:fixed;top:0px;left:0px;width:300px;z-index:0;height:100%;overflow-y:auto;background:white;}
.hud-inner {padding:20px;}