/* Page styles */
body {margin:0;padding:0 40px 40px 40px;line-height:20px;}
p {margin:0 0 20px 0;}
input[type=number], input[type=text], textarea {}
textarea {width:90%;}
table label {position:absolute;left:-9999px;}
table th {text-align: left;}
table th, table td {vertical-align: top;}
h1 {margin:0;line-height:1;}
h2 {margin:30px 0 5px 0;}
.subheaded + * {margin-top:0;}
.subheaded {margin-bottom:0;}
.inactive {display:none;}
form {margin-bottom:20px;}